.dropdown-toggle {
    cursor: pointer;
    color: white !important;
}
:hover .dropdown-toggle {
    cursor: pointer;
    color: #00bc8c !important;
}

img {
    max-height: 58px;
    border:2px solid white;
    display: inline;
}